@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainBlack: #000;
    --mainWhite: #fff;
    --veryDarkGray: rgb(43, 43, 43);
    --darkGray: rgb(150, 150, 150);
}

html{
    font-size: 62.5%;
}
/* ============== font style ============= */
body{
    font-family: 'Rubik', sans-serif;
}
h2{
    font-size: 2rem;
}
label{
    font-size: 1.2rem;
}
p{
    font-size: 1.8rem;
    font-weight: 500;
}
input{
    font-size: 1.5rem;
}

/* ================================ */
.container{
    margin: 0 auto;
    max-width: 1140px;
}
.header{
    background-image: url(../images/pattern-bg.png);
    background-repeat: round;
}

/* ============ address =========== */
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}
.address__heading{
    margin-bottom: 1rem;
    color: var(--mainWhite);
}
.address__input-box{
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--mainBlack);
}
.address__input{
    flex: 1;
    padding: 1rem .7rem;
    outline: none;
}
.address__input-box img{
    padding: 1rem 1.5rem;
    transform: scale(.8);

}
::placeholder{
    font-size: 1.15rem;
}



/* =========== modal ==== */
.modal{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--mainWhite);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;


}
.address-details > div:not(:last-child){
    margin-bottom: 1.5rem;

}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }