@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainBlack: #000;
    --mainWhite: #fff;
    --veryDarkGray: rgb(43, 43, 43);
    --darkGray: rgb(150, 150, 150);
}

html{
    font-size: 62.5%;
}
/* ============== font style ============= */
body{
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    font-size: 2rem;
}
label{
    font-size: 1.2rem;
}
p{
    font-size: 1.8rem;
    font-weight: 500;
}
input{
    font-size: 1.5rem;
}

/* ================================ */
.container{
    margin: 0 auto;
    max-width: 1140px;
}
@media screen and (min-width:320px) {
    .container{
        width: 300px;
    }
}
@media screen and (min-width:480px) {
    .container{
        width: 450px;
    }
}
@media screen and (min-width:600px) {
    .container{
        width: 580px;
    }
}
@media screen and (min-width:768px) {
    .container{
        width: 745px;
    }
}
@media screen and (min-width:900px) {
    .container{
        width: 880px;
    }
}
@media screen and (min-width:1124px) {
    .container{
        width: 1100px;
    }
}
@media screen and (min-width:1200px) {
    .container{
        width: 1140px;
    }
}

header{
    background-image: url(../images/pattern-bg.png);
    background-repeat: round;
    position: relative;
}

/* ============ address =========== */
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 5rem 0;
}
.address__heading{
    margin-bottom: 1rem;
    color: var(--mainWhite);
}
.address__input-box{
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--mainBlack);
}
.address__input{
    flex: 1;
    padding: 1rem .7rem;
    outline: none;
}
.btn{
    background-color: transparent;
    padding: 1rem 1.5rem;
}
.btn:hover{
    cursor: pointer;
}
.address__input-box img{
    transform: scale(.8);
}
::placeholder{
    font-size: 1.15rem;
}

@media screen and (min-width:540px) {
    .address__input-box{
        width: 470px;
    }
    ::placeholder{
        font-size: 1.3rem;
    }
}

/* =========== address-details ==== */
.address-details{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--mainWhite);
    padding: 2rem 3rem;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
    display: none;
}
.address-details.display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.address-details > div:not(:last-child){
    margin-bottom: 1.5rem;
}

@media screen and (min-width:540px) {
    .address-details{
        width: 90%;
        padding: 1rem;
    }
    .address-details.display{
        flex-direction: row;
    }
    header .address-details > div{
        height: 100%;
        margin-bottom: 0;
        flex-grow: 1;
        padding: 1rem;
    }
    .address-details > div:not(:last-child){
        border-right: 1px solid var(--darkGray);
    }
}
@media screen and (min-width:768px) {
    .address-details{
        width: 700px;
    }
    header .address-details > div{
        flex-grow: 1;
        margin-bottom: 0;
        padding: 1rem;
    }
    header .address-details > div:not(:last-child){
        border-right: 1px solid var(--darkGray);
    }
}
@media screen and (min-width:960px) {
    .address-details{
        width: 800px;
    }
        
    header .address-details > div{
        flex-grow: 1;
        margin-bottom: 0;
        padding: 1rem;

    }
    .address-details > div:not(:last-child){
        border-right: 1px solid var(--darkGray);
    }
}


/* =========== map ============  */
#weathermap{
    min-height: 500px;
    flex-grow: 1;
}

#map{
    z-index: 1;
}
/* ================ loading ===================== */
.loading{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid rgb(183, 183, 183);
    border-top: 4px solid rgb(255, 255, 255, 80%);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    animation: spinerLoading infinite .8s linear;
    display: none;
}

.loading-backDray{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}
.loading.display, .loading-backDray.display{
    display: block;
}

@keyframes spinerLoading {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

/* =================== message =================== */
.message{
    position: absolute;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mainWhite);
    border-radius: 10px;
    padding: 3rem;
    color: var(--mainBlack);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: none;
}
.message-backDray{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}
.message.display, .message-backDray.display{
    display: block;
}



/* ================== footer =========================== */
footer{
    background-color: var(--mainBlack);
    padding: 1rem;
    color: var(--mainWhite);
    font-weight: 400;
}
footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-link{
    margin-top: .5rem;
}
.footer-link a{
    color: #ccc;
}